@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

html {
    font-size: 10px;
    background: url('../background.jpg') bottom center;
    /* image credit: Marcus Wallis unsplash.com */
    background-size: cover;
    min-height: 100vh;
    font-family: Ultra, sans-serif;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    font-family: Ultra, sans-serif;
    font-size: 8rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
  
.buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    border: .2rem solid white;
    font-size: 1.7rem;
    font-family: sans-serif;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 15rem;
    text-align: center; 
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 5px;
    border-radius: 5rem;


}

.hover {
    color: orange;
    border-color: orange;
}

